
/* Product holder */
#mainProductHolder{
	overflow:hidden;
	position:relative;
	width:100%;
	margin-top:12px;
	padding-bottom:26px;
}

#productHolder{
	position:relative;
	background-color:#f2f2f2;
	height:700px;
}

#productHolderBackground{
	position:absolute;
}
#productHolder > div{
	background:#f2f2f2 !important;
	}
#productHolder > div > div:nth-child(1){
	background:#f2f2f2 !important;
	}
#productHolder > div > div:nth-child(1) > div:nth-child(1){
	background:#f2f2f2 !important;
	}
#productHolder > div > div:nth-child(2) > div{
	transform:rotate(-90deg) !important;
	-ms-transform:rotate(-90deg) !important; /* IE 9 */
	-webkit-transform:rotate(-90deg) !important; /* Opera, Chrome, and Safari */
	top:350px !important;
	left:-135px !important;
	width:310px !important;
	}
#productHolder > div > div:nth-child(2) > div > div:nth-child(5){
	transform:rotate(90deg) !important;
	-ms-transform:rotate(90deg) !important; /* IE 9 */
	-webkit-transform:rotate(90deg) !important; /* Opera, Chrome, and Safari */
	left: -29px !important;
	top:6px !important;
	}
#productHolder > div > div:nth-child(2) > div > div:nth-child(6){
	left:-43px !important;
	}
#productHolder > div > div:nth-child(2) > div > img:nth-child(3){
	width:280px !important;
	}
#productHolder > div > div:nth-child(2) > div > img:nth-child(2) {
    left: -86px !important;
}
#productHolder > div > div:nth-child(2) > div > div:nth-child(6) > div:nth-child(2){
	width:252px !important;
	}
#productHolder > div > div:nth-child(2) > div > div:nth-child(4){
	left:-28px !important;
	z-index:2 !important;
	}
#productHolder > div > div:nth-child(2) > div > div:nth-child(6) > div:nth-child(4){
	top: 1px !important;
	}
	
@-moz-document url-prefix() { 
  #productHolder > div > div:nth-child(2) > div > img:nth-child(2){
	left:290px !important;
	}
#productHolder > div > div:nth-child(2) > div > img:nth-child(3){
	width:280px !important;
	}
#productHolder > div > div:nth-child(2) > div > div:nth-child(4){
	left:302px !important;
	z-index:2 !important;
	}
#productHolder > div > div:nth-child(2) > div > div:nth-child(6){
	width:252px !important;
	left: 22px !important;
	}
#productHolder > div > div:nth-child(2) > div > div:nth-child(6) > div:nth-child(2){
	width:252px !important;
	}
#productHolder > div > div:nth-child(2) > div > div:nth-child(6) > div:nth-child(4){
	top: 8px !important;
	}
#productHolder > div > div:nth-child(2) > div > div:nth-child(5){
	top:7px !important;
	}
}