
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
.header-elements {
	margin-left: 43px;
}
.txt h1, .txt02 h1 {
	font-size: 68px;
}
.txt h3, .txt02 h3 {
	font-size: 29px;
}
.screen {
	height: 675px;
}
}

@media only screen and (max-width : 1824px) {
.header-elements {
	margin-left: 43px;
}
.txt h1, .txt02 h1 {
	font-size: 68px;
}
.txt h3, .txt02 h3 {
	font-size: 29px;
}
.screen {
	height: 630px;
}
.bt-join {
	top: 55%;
}
.banner-right3 h2 {
	top: 15%;
}
}

@media screen and (max-width: 1680px) {
.screen {
	height: 580px;
}
}

@media screen and (max-width: 1600px) {
.screen {
	height: 570px;
}
}

@media screen and (max-width: 1452px) {
.header-elements {
	margin-left: 43px;
}
.txt h1, .txt02 h1 {
	font-size: 68px;
}
.txt h3, .txt02 h3 {
	font-size: 29px;
}
.screen {
	height: 512px;
}
.bt-join {
	top: 53%;
}
.banner-right3 h2 {
	top: 13%;
}
}

@media screen and (max-width: 1400px) {
.header-elements {
	margin-left: 43px;
}
.txt h1, .txt02 h1 {
	font-size: 68px;
}
.txt h3, .txt02 h3 {
	font-size: 29px;
}
.screen {
	height: 490px;
}
.banner-right3 h2 {
	top: 11%;
}
.bt-join {
	top: 52%;
}
.banner-right4 h2 {
	/*margin-top: 6%;*/
}
}

@media screen and (max-width: 1351px) {
.header-elements {
	margin-left: 43px;
}
.txt h1, .txt02 h1 {
	font-size: 68px;
}
.txt h3, .txt02 h3 {
	font-size: 29px;
}
.screen {
	height: 480px;
}
}

@media screen and (max-width: 1350px) {
.header-elements {
	margin-left: 43px;
}
.txt h1, .txt02 h1 {
	font-size: 68px;
}
.txt h3, .txt02 h3 {
	font-size: 29px;
}
.screen {
	height: 470px;
}
}

@media only screen and (max-width : 1280px) {
.screen {
	height: 450px;
}
.banner-right3 h2 {
	top: 8%;
}
.banner-right4 h2 {
	/*margin-top: 5%;*/
}
}

@media only screen and (max-width : 1224px) {
.screen {
	height: 430px;
}
.banner-right3 h2 {
	top: 7%;
}
.bt-join {
	top: 50%;
}
}

@media only screen and (max-width : 1152px) {
.screen {
	height: 400px;
}
.banner-right3 p, .banner-right4 p, p.cottage {
	padding: 24px 0px;
}
.banner-right3 h2 {
	top: 7%;
}
.bt-join {
	top: 54%;
}
.banner-right4 h2 {
	/*margin-top: 2%;*/
}
}

/* -------------------------- Small screens -------------------------------------- */

@media only screen and (max-width : 1024px) {
.header-elements {
	margin-left: 43px;
}
.txt h1, .txt02 h1 {
	font-size: 68px;
}
.txt h3, .txt02 h3 {
	font-size: 29px;
}
.screen {
	height: 340px;
}
.banner-right3 h2 {
	top: 8%;
	line-height: 34px;
	letter-spacing: 2px;
	font-size: 20px;
}
.bt-join {
	top: 48%;
}
.contentSection {
	width: 99%;
}
.rightCatSection {
	width: 58%;
}
.banner-right4 h2 {
	/*margin-top: 5%;*/
}
.banner-right4 h2 {
	line-height: 34px;
	letter-spacing: 2px;
	font-size: 20px;
}
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
.header-elements {
	margin-left: 43px;
}
.txt h1, .txt02 h1 {
	font-size: 68px;
}
.txt h3, .txt02 h3 {
	font-size: 130%;
}
.txt h1, .txt02 h1 {
	font-size: 400%;
}
.loginForm h3 {
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.loginForm p {
	padding: 10px 40px;
}
.loginForm .formFooter {
	padding: 0px 80px;
}
.userLogin span {
	height: 41px;
}
.loginForm input[type="text"], .loginForm input[type="email"], .loginForm input[type="password"], .loginForm input[type="url"], .loginForm textarea {
	height: 55px;
}
}

@media only screen and (max-width : 980px) {
.contentSection {
	margin: 100px auto 0px;
	width: 98%
}
.icon {
	padding: 0 20px;
}
.banner-right4 h2 {
	top: 8%;
}
.banner-right4 h2 {
	/*margin-top: 4%;*/
}
}

/* -------------------------- Small screens -------------------------------------- */

@media only screen and (max-width : 975px) {
.banner-both, .contentSection, .footer-both {
	width: 100%;
}
.banner-main {
	height: auto;
}
.border-line img {
	width: 100%;
	height: auto;
}
.txt h1, .txt02 h1 {
	font-size: 400%;
}
.txt h3, .txt02 h3 {
	font-size: 130%;
}
.screen {
	height: 320px;
}
.banner-right3 p, .banner-right4 p, p.cottage {
	padding: 14px 0px;
}
.bt-join {
	top: 52%;
}
}

@media screen and (max-width: 900px) {
.screen {
	height: 300px;
}
.bt-join {
	top: 52%;
}
.bt-join a, .bt-join2 a {
	font-size: 12px;
	padding: 6px 45px;
}
.rightCatSection {
	width: 58%;
}
.contentSection {
	width: 98%;
}
}

@media screen and (max-width: 800px) {
.screen {
	height: 270px;
}
.bt-join {
	top: 50%;
}
.bt-join a, .bt-join2 a {
	font-size: 12px;
	padding: 6px 45px;
}
.banner-right3 h2, .banner-right4 h2 {
	font-size: 20px;
	line-height: 28px;
}
.banner-right3 p, .banner-right4 p, p.cottage {
	font-size: 13px;
	padding: 12px 0px;
}
.bt-join {
	top: 50%;
}
.banner-right4 h2 {
	/*margin-top: 4%;*/
}
.icon {
	padding: 0 10px;
}
.txt h3, .txt02 h3 {
	font-size: 100% !important;
}
.txt h1, .txt02 h1 {
	font-size: 200% !important;
}
.rightCatSection {
	width: 54%;
}
.contentSection {
	width: 96%;
}
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
.screen {
	height: 250px;
}
.bt-join {
	top: 50%;
}
.bt-join a, .bt-join2 a {
	font-size: 12px;
	padding: 6px 45px;
}
.banner-right3 h2, .banner-right4 h2 {
	font-size: 20px;
	line-height: 28px;
}
.banner-right3 p, .banner-right4 p, p.cottage {
	font-size: 12px;
	padding: 12px 0px;
}
.nav li.bar {
	display: none;
}
.nextStory {
	left: 39%;
}
.modal-dialog {
	width: 600px;
	margin: 30px auto;
}
.container {
	min-width: inherit;
	width: 64%;
}
.social > div {
	border: none;
}
.icon img {
	width: 100%;
	height: auto;
}
.txt h1, .txt02 h1 {
	font-size: 380%;
}
.txt h3, .txt02 h3 {
	font-size: 110%;
}
.youSection {
	height: auto;
	padding: 20px;
	margin-bottom: 0px;
	float: left;
	width: 94%;
}
.icon.right img {
	float: right;
}
.contentSection {
	width: 98%;
}
.txt h3, .txt02 h3 {
	font-size: 90% !important;
}
}

/* my Device (710) */
@media screen and (max-width: 710px) {
.screen {
	height: 240px;
}
.bt-join {
	top: 51%;
}
.banner-right3 p, .banner-right4 p, p.cottage {
	font-size: 11px;
	padding: 8px 0px;
}
.icon img {
/*width: 75%;
	height: auto;*/
}
.txt h1, .txt02 h1 {
	font-size: 300%;
	word-wrap: break-word;
}
.txt h3, .txt02 h3 {
	font-size: 103%;
}
footer p {
	font-size: 60%;
}
.icon.right img {
	float: right;
}
}

/* All Mobile Sizes (devices and browser) */
@media screen and (max-width: 640px) {
.screen {
	height: 220px;
}
.bt-join, .bt-join2 {
	display: block;
}
.banner-right3 p, .banner-right4 p, p.cottage {
	font-size: 13px;
	letter-spacing: inherit;
}
.banner-right3 h2, .banner-right4 h2 {
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 2px;
}
footer p {
	font-size: 50%;
}
.youSection {
	padding-left: 4%;
	padding-right: 3%;
}
.rightCatSection {
	width: 46%;
}
}

@media screen and (max-width: 568px) {
/* iPhone 5 or iPod Touch 5th generation */

.screen {
	height: 190px;
}
.banner-right3 {
	padding-top: 0px !important;
}
.banner-right3 p, .banner-right4 p, p.cottage {
	font-size: 12px !important;
}
.banner-right3 h2, .banner-right4 h2 {
	font-size: 14px !important;
	line-height: 20px !important;
}
.banner-right3 h2 {
	top: 15%;
}
footer p {
	font-size: 45%;
}
.footer-left {
	margin-left: 4%;
}
.footer-right {
	margin-right: 4%;
}
.youSection {
	padding-left: 3%;
	padding-right: 2%;
}
.icon img {
	width: auto;
	height: auto;
}
.txt02 {
	padding-top: 50px;
}
.txt h1, .txt02 h1 {
	font-size: 280%;
}
.txt h3, .txt02 h3 {
	font-size: 100%;
}
.icon {
	margin-top: 50px;
	padding: 0px;
}
.leftCatSection {
	height: 240px;
}
.rightCatSection {
	width: 60%;
	height: 240px;
}
.banner-right3 {
	padding-top: 15px;
}
.banner-right3 h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 210%;
	line-height: normal;
}
.banner-right3 p, .banner-right4 p, p.cottage {
	font-size: 100%;
}
.mainContainer {
	width: 100% !important;
	left: 50% !important;
	top: 128% !important;
}
.icon.right img {
	float: left;
	width: 100%;
}
}

/* my Device (530) */
/*@media screen and (max-width: 530px) {
	
.icon {
	width: 50%;
	}
.header-right {
	margin-right: 3%;
	}
	}
.header-elements {
	margin-left: 3%;
	}
.txt h1, .txt02 h1{
	font-size:260%;
	}
.txt h3, .txt02 h3{
	font-size:97%;
	}*/

/* iPhone landscape */
@media screen and (max-width: 480px) {
.screen {
	height: 160px;
}
.banner-right3 p, .banner-right4 p, p.cottage {
	padding: 0px 0px;
	font-size: 10px !important;
}
.banner-right3 h2 {
/*bottom: 42%;*/
}
.container {
	width: 85%;
}
.banner-right3 h2 {
	font-size: 170%;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: normal;
}
.banner-right4 h2 {
	font-size: 170%;
	line-height: normal;
}
.banner-right3 p, .banner-right4 p, p.cottage {
	font-size: 90%;
}
.bt-login2 a {
	font-size: 85%;
}
.bt-login2 {
	width: auto;
	padding: 0px 8px;
	margin-top: 22px;
}
.header-elements {
	margin-left: 0px;
}
.header-elements img {
	/*width: 65%;*/
	height: auto;
}
.header-elements a {
	width: 46%;
}
.banner-both, .contentSection, .footer-both {
	width: 99%;
}
header, .white-link2 {
	width: 100%;
}
.banner-right3 {
	padding-top: 0px;
}
.youSection {
	width: 96%;
	padding-left: 1.5%;
}
.icon {
/*width: 36%;*/
}
.txt h3, .txt02 h3 {
	font-size: 90%;
}
.txt h1, .txt02 h1 {
	font-size: 250%;
}
.mainContainer {
	width: 100% !important;
	top: 262px !important;
}
.rightCatSection {
	height: 240px;
	width: 40%;
}
.txt02 {
	padding-top: 0;
}
.icon.right img {
/*float: left;
    width: 280%;*/
}
.header-right {
	margin-right: 20px;
}
}

@media screen and (max-width: 360px) {
.screen {
	height: 200px;
}
.banner-right4 h2 {
	/*bottom: 50%;*/
	/*margin-top: 9%;*/
	font-size: 100% !important;
}
.banner-right4 p, p.cottage {
	display: block;
}
.bt-login2 {
	margin-top: 24px;
	padding: 4px 8px;
	height: 21px;
}
.banner-right3 {
	margin-top: 0px;
	padding-top: 0px;
}
.header-elements {
	margin-left: 8px;
}
.header-elements a {
	width: 42%;
}
.header-right {
	margin-right: 15px;
}
.bt-login2 a {
	line-height: 22px;
}
.rightCatSection {
	width: 99%;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 4px;
	margin-bottom: 40px;
	border-top: 0px;
	height: 180px;
}
.cat {
	width: 100%;
}
.icon {
	width: 70%;
	padding: 0;
	margin: 0px;
}
.leftCatSection {
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 0px;
	border-bottom: 0px solid;
	float: left;
	height: auto;
	margin-bottom: 0px;
	position: relative;
	width: 99%;
	padding-top: 30px;
}
.icon img {
	height: auto;
	width: 58%;
}
.icon.right img {
	/*float: right;*/
	width: auto;
}
.contentSection {
	margin-top: 40px;
	width: 90%;
}
footer p {
	font-size: 30%;
}
}

/* Phone Portrait */
@media screen and (max-width: 320px) {
.screen {
	height: 185px;
}
.banner-right3 h2 {
/*bottom: 50%;*/
}
.bt-login2 {
	margin-top: 24px;
	padding: 4px 8px;
	height: 21px;
}
.banner-right3 {
	margin-top: 0px;
	padding-top: 0px;
}
footer p {
	font-size: 30%;
}
.footer-right {
	margin-right: 1%;
}
.footer-left {
	margin-left: 2%;
}
.icon img {
	width: 60%;
	height: auto;
}
.icon {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.txt h1, .txt02 h1 {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
.txt h3, .txt02 h3 {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
.icon.left {
	float: none;
}
.icon.right {
	float: none;
}
.txt.left {
	float: none;
}
.txt.right {
	float: none;
}
.icon.right img {
	float: none;
}
.txt02.left {
	float: none;
}
.txt02.right {
	float: none;
}
.header-elements {
	margin-left: 0px;
}
.header-elements a {
	width: 30%;
}
.header-elements img {
	width: auto;
	height: auto;
}
.header-right {
	margin-right: 8px;
}
.mainContainer {
	width: 100% !important;
	top: 178px !important;
	left: 0px !important;
	margin-left: 0px !important;
}
.LoginPage .contents {
	width: 100%;
	height: auto;
	margin: 0px;
}
.loginForm h3 {
	padding: 0px 10px;
	font-size: 14px;
}
.ui-tabs .ui-tabs-nav li {
	height: 40px;
}
.ui-tabs .ui-tabs-nav li a {
	height: auto;
	line-height: 40px;
	font-size: 22px;
}
.Button.closeModal, .Button.closeDialog {
	top: 9px;
}
.Login .userLogin {
	padding-left: 10px;
	padding-top: 5px;/*width: 70%;*/
}
.loginForm .formFooter {
	padding: 0px 2px;
}
.loginForm p {
	padding: 1px 10px;
	font-size: 12px;
}
.formFooter img {
	width: 86%;
	height: auto;
}
.forgotPassword {
	margin-top: 0px;
	padding: 0px 10px;
}
.forgotPassword a {
	font-size: 14px;
}
.Button.btn.primary, .Button.btn.primaryOnHover:hover, .Button.btn.primaryOnHover.active, .Button.moreItems:hover.primary, .Button.moreItems:hover.primaryOnHover:hover, .Button.moreItems:hover.primaryOnHover.active {
	width: 83%;
}
.userLogin span {
	height: 26px;
	width: 40px;
}
.loginForm input[type="text"], .loginForm input[type="email"], .loginForm input[type="password"], .loginForm input[type="url"], .loginForm textarea {
	height: 40px;
	width: 64%;
	font-size: 15px;
}
.Join .userLogin {
	margin-bottom: 4px;
	padding-left: 10px;
	padding-top: 0px;
}
.loginForm {
	padding-top: 10px;
	width: 100%;
	padding-bottom: 1px;
}
.LoginPage .Login .loginForm {
	padding-top: 4px;
	width: 100%;
	padding-bottom: 4px;
}
.userLogin span {
}
.fa-fw {
	font-size: 18px;
	position: relative;
	top: -4px;
}
.bt-login2 a {
	line-height: normal;
}
}
