
.stylish-select ul.newList {left:-9999px; margin:0 !important; }

ul.newList * {margin:0 !important; padding:0;}
div.form ul.newList  li,div.form ul.newList li { margin-bottom:0; }
ul.newList a {color: #000; text-decoration:none; display:block; border:0; }
.newListSelected span {width:284px; display:block;}

ul.newList {margin:0; padding:0; list-style:none; position:absolute; border:0; overflow:auto; z-index:9999;}
div.post div.form ul.newList li { float:none; margin-bottom:0px; font-size:110%; }
ul.newList li a {padding:3px 9px; display: block; font-size:115%; color:#653d15; line-height:1.2em; }
ul.newList li a:focus {-moz-outline-style: none;}

.selectedTxt { overflow:hidden; font-weight:bold; }

.hiLite {background:#650101!important; color:#fff!important;}
.hiLite a {background:#650101!important; color:#fff!important;}

.newListHover {background:#ccc!important; color:#000!important; cursor:default;}
.newListOptionTitle {font-weight:bold;}
.newListOptionTitle ul {margin:3px 0 0;}
.newListOptionTitle li {font-weight:normal; }


li.state-field span.month .newListSelected ,li.state-field .newListSelected {width:54px; color:#653d15; height:20px; padding:8px 0 0 9px; background:url(../images/content/selectbox1.jpg) no-repeat 0 0 ; }
li.state-field span.month .selectedTxt ,li.state-field .selectedTxt {width:54px; height:18px; padding:0 4px 0 0; font-size:11px; color:#653d15;  }
li.state-field span.month ul.newList ,li.state-field ul.newList { color:#653d15; width:61px; background:#fff;top:26px !important; left:0; }